.widget-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.widget-header h3{
  margin-left: 20px;
}

.widget-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  background-color: #d4d6ec;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.view-all {
  font-size: 13px;
  color: #3f51b5;
  cursor: pointer;
  margin-right: 10px;
}
