.header {
  height: 55px;
  background: #bec2e8;
  display: flex;
  align-items: center;
  padding: 0 20px;
  /* position: sticky;
  top: 0; */
}
.icon{
    font-size: 1.5em;
}

.actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatar {
  width: 32px;
  height: 32px;
  background: #3f51b5;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  position: relative;
  width: 250px;
}

.search input {
  width: 100%;
  padding: 10px 0px 10px 12px; /* right padding for icon */
  border-radius: 10px;
  border: none;
  outline: none;
}

.search-icon {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  cursor: pointer;
}

.search-icon:hover {
  color: #000;
}
