.widget-card {
  height: 100%;
  border-radius: 20px;
}

.widget-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  background-color: #d4d6ec;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}


.widget-header h3{
  margin-left: 20px;
}