.login-card {
  padding: 5px;
  max-width: 400px;
  margin: 0 auto;
  background-color: rgb(247, 246, 246);
  box-shadow:0 4px 12px rgba(0, 0, 0, 0.15),
    0 2px 6px #00000014;
}


.title {
  margin: 6px 0;
  font-size: 28px;
  font-weight: 800;
  line-height: 1.2;
}

.title span {
  color: #3f51b5;
}

.welcome-text{
  font-weight: 450;
  font-size: 0.8rem;
}

.description{
  font-weight: 500;
  font-size: 0.7rem;
  color: grey;
}

.form-style {
  width: 100%;
}

.auth-container{
  background-image:url("/images/auth-bg.png");
  height: 100vh;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.signIn button{
  background-color: #3f51b5;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  margin-left: auto;
  transition: transform 0.2s ease;
}

.signIn{
  padding: 0;
}

.signIn span{
  cursor: pointer;;
}

.signIn button:disabled {
  background-color: #b7b7b7;
  cursor: not-allowed;
}

.signIn button:hover{
  transform: scale(1.05);
}