.blog-list{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.food-blog-content{
  padding: 0px 8px;
}

.blog p{
  margin: 0;
  padding: 0;
}

.blog{
  background-color: rgba(243, 238, 238, 0.588);
  box-shadow: 0px 0px 3px grey ;
  width: 45%;
  /* height: 100%; */
  border-radius: 10px;
  margin-bottom: 8px;
}

.blog img{
  width: 100%;
  height: 100px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.widget-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  background-color: #d4d6ec;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.widget-header h3{
  margin-left: 20px;
}

.view-link{
  margin-right: 20px;
  font-size: 13px;
  color: #3f51b5;
  cursor: pointer;
}